/* table text on 1 line */
.dt-container {white-space: nowrap;}

/* to make 100% height div work */
.dt-fake-height {height: 1px;}

/*  td for bg color group column */
td.dt-nopad {padding: 0px !important; height: 100%;}

/*  div inside td for bg color group column */
td.dt-nopad div {height: 100%; width: 100%; text-align: center;}

/*  span inside div inside td for bg color group column */
td.dt-nopad span {display: inline-block; padding: 8px 10px; color: white;}

/* for showing cluster colour in dropdown */
.input-swatch {
    height: 10px;
    width: 10px;
    border: 1px solid #54575a;
    display: inline-block;
    margin-right: 5px;
}

/* for contrast in bulk data */
.selectize-input>.bulk-item .contrast {
    display: inline-block;
    padding-left: 6px;
    padding-right: 3px;
    font-weight: 700;
}

.selectize-input>.bulk-item~.bulk-item .contrast {display: none;}

.bulk-item.active {background-color: #428bca !important;}

.bulk-item {background-color: white !important;}